.element1{
    margin-left: 100;
    font: 1em sans-serif;
    box-shadow:  1 1 1 1;
}
.header{
    margin-top: 30px;
    text-align: center;
    font-weight: 200;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button1{
    margin-top:10px;
    margin-left:90%;
    margin-bottom: 20px;
}
.profile-update-button{
    margin-left: 80%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.container{
    min-width:194px;
}
.profile-container{
    min-width: 195px;
}

@media only screen and (min-width: 200px){
.profile-update-button{
    margin-left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}
}

// and (min-width:307) 
@media only screen and (max-width:576){
    .element1{
        margin-left: 50%;
        border-style: dashed;
    }
    .profile-update-button{
        margin-left: 10%;
    }
}