.element1{
    margin-left: 100;
    font: 1em sans-serif;
    box-shadow:  1 1 1 1;
}
.header{
    margin-top: 30px;
    text-align: center;
    font-weight: 200;
    font-size: large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.button1{
    margin-top:10px;
    margin-left:90%;
    margin-bottom: 20px;
}