
.row-container{
  // padding-right:20px;
  margin-left: 15%;
}
.container{
    justify-content: center;
   
}
.element1{
  // column-width: 12rem;
  // margin-bottom:2rem ;
  // border-style: dashed;
}
.loan-apply-button{
  margin-top: 20px;
  margin-bottom: 20px;
}
.header{
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loan-container{
  padding-bottom: 30px;
  // margin-left: 10%;
  // margin-right: 10%;
}
.loan-apply-inputfield{
  margin-bottom: 20px;
}