
.container{
    justify-content: center;
   

}

.element1{
  // column-width: 12rem;
  // margin-bottom:2rem ;
  // border-style: dashed;
}
.button1{
  // display: ;
}
.header{
  font-size: large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
