
.container{
    // justify-content: center;
    padding-bottom: 30px;
}
.input1{
    // justify-content: center;
    // margin-left: 40%;
    // margin-top: 10px;
    // border:2px
}
.header1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20px;
    font-size: large;
    margin-bottom: 50px;
}
.user-register-inputfield{
    margin-bottom: 12px;
}
.user-register-button{
    margin-top: 20px;

}