
.container{
    justify-content: center;
}
.header1{
    font-size: larger;
}
.alreadyLoggedIn{
    justify-content: center;
    font-size: larger;
}
.new-user{
    justify-content: center;
    text-align: center;
    margin-top: 12px;
}
.log-in-container{

   margin-left: 40%;
   width: fit-content;
   font-size: larger;
   padding: 20px; 
   margin-top: 20%;
   margin-bottom: 20%;
}